<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/public/css/login.css">
</head>

<body>
    <div class="main">
        <div class="header">
            <a href="/">
                <img src="/public/img/logo3.png" alt="">
            </a>
            <h1>用戶登入</h1>
        </div>
        <form id="login_form">
            <div class="form-group">
                <label for="">EMAIL</label>
                <input type="email" class="form-control" id="" name="email" placeholder="Email" autofocus>
            </div>
            <div class="form-group">
                <label for="">密碼</label>
                <a class="pull-right" href="">忘記密碼？</a>
                <input type="password" class="form-control" id="" name="password" placeholder="Password">
            </div>
            <div class="checkbox">
                <label>
          <input type="checkbox"> 保持登入狀態
        </label>
            </div>
            <button type="submit" class="btn btn-success btn-block">登入</button>
        </form>
        <div class="message">
            <p>沒有帳號？ <a href="/register">建立帳號</a>.</p>
        </div>
    </div>
    <script src="/node_modules/jquery/dist/jquery.js"></script>
    <script>
        $('#login_form').on('submit', function(e) {
            // 阻止元素發生默認的提交事件
            e.preventDefault()
                // 序列化數據成為 json 格式
            var formData = $(this).serialize()
            console.log(formData)
            $.ajax({
                url: '/login',
                type: 'post',
                data: formData,
                dataType: 'json',
                success: function(data) {
                    var err_code = data.err_code
                    if (err_code === 0) {
                        // window.alert('注册成功！')
                        // 服務端重定向是無效的，所以要在客戶端處理重新定向
                        window.location.href = '/'
                    } else if (err_code === 1) {
                        // 不處理密碼錯誤，因為怕會被暴力破解
                        window.alert('帳號錯誤或密碼錯誤')
                    } else if (err_code === 500) {
                        window.alert('服務器異常 請稍後在嘗試登錄！')
                    }
                }
            })
        })
    </script>
</body>

</html>